@import url("https://fonts.googleapis.com/css?family=Lato");
@import url("https://fonts.googleapis.com/css?family=Source-Sans-Pro");
/* Flexbox Setup */
/* CSS Normalize */
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block;
}

audio, canvas, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden] {
  display: none;
}

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

a:focus {
  outline: thin dotted;
}

a:active, a:hover {
  outline: 0;
}

h1 {
  font-size: 2em;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b, strong {
  font-weight: 700;
}

dfn {
  font-style: italic;
}

mark {
  background: #ff0;
  color: #000;
}

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em;
}

pre {
  white-space: pre-wrap;
  word-wrap: break-word;
}

q {
  quotes: \201C \201D \2018 \2019;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -.5em;
}

sub {
  bottom: -.25em;
}

img {
  border: 0;
}

svg:not(:root) {
  overflow: hidden;
}

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em;
}

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
}

button, input {
  line-height: normal;
}

button, html input[type=button],
input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled], input[disabled] {
  cursor: default;
}

input[type=checkbox], input[type=radio] {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
}

input[type=search] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

textarea {
  overflow: auto;
  vertical-align: top;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body, figure {
  margin: 0;
}

legend, button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/* Box-sizing border-box */
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  /*font-family: "Helvetica Neue", sans-serif;*/
  font-family: "Source Sans Pro", sans-serif;
  color: #e2e5e9;
  height: 100%;
  overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 0 5px 0;
}

p {
  margin: 0 0px 20px 0;
  font-size: 20px;
  padding: 10px;
}

a {
  text-decoration: none;
  color: #eba14a;
}

a:active, a:focus {
  outline: none;
}

h1 {
  text-align: center;
  font-size: 60px;
  color: #e2e5e9;
}

h2 {
  grid-column: 1 / -1;
  /* span entire width */
  -ms-grid-row-align: center;
  align-self: center;
  -ms-grid-columns: 1fr auto 1fr;
  grid-template-columns: 1fr auto 1fr;
  text-align: center;
}

h3 {
  color: #f36a22;
}

img:before {
  content: ' ';
  background-image: url(images/broken.png);
}

/* SVG graphics initial declaration */
.dont-render {
  position: absolute;
  height: 0;
  width: 0;
}

/* title prior to grid gallery */
header {
  background-color: green;
  min-height: 100vh;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: center;
  align-self: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
}

.title-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: 2px solid red;
  width: minmax(1000px, 100vw);
}

.author-description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  margin: 0 auto;
  color: #e2e5e9;
}

body.fixed-nav nav {
  position: fixed;
  -webkit-box-shadow: 0 0 1px 3px rgba(0, 0, 0, 0.5);
  box-shadow: 0 0 1px 3px rgba(0, 0, 0, 0.5);
}

svg {
  fill: var(--skyblue);
}

nav {
  height: 70px;
  top: 0;
  width: 100%;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
  position: relative;
  z-index: 1;
  background: #992f17;
}

@media (max-width: 640px) {
  nav h4 {
    font-size: 0em;
  }
}

nav ul {
  max-width: 1000px;
  margin: 0 auto;
  padding: 0;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

nav li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

nav li:hover {
  background: #484729;
}

nav a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-decoration: none;
  color: #eba14a;
}

nav a:hover {
  color: #e2e5e9;
}

nav span {
  -webkit-transition: all 0.15s;
  -o-transition: all 0.15s;
  transition: all 0.15s;
  display: block;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  text-align: center;
  -ms-flex-line-pack: center;
  align-content: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  fill: #eba14a;
}

nav span:hover {
  fill: #e2e5e9;
  padding-bottom: 10px;
  margin-top: -10px;
}

.icon {
  width: 42px;
  height: 42px;
  padding: 0;
  margin: 0 auto;
}

section {
  min-height: 100vh;
}

/* games and other downloads section */
#downloads-wrapper {
  width: 100%;
  background: #4f4559;
}

#prototypes-wrapper {
  min-height: 100vh;
  width: 100%;
  background-color: #441509;
}

.projects-section {
  padding: 50px 0 50px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  max-width: 1000px;
  margin: 0 auto;
}

.projects-section > * a {
  color: #e2e5e9;
}

.projects-section img {
  grid-column: 1 / -1;
  margin: 0 auto;
}

.projects-container-grid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.projects-container-grid > * {
  margin: 6px;
}

/* bug: too much text in description area will mess up formatting !! */
.project-item {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transform: scale(0);
  -ms-transform: scale(0);
  transform: scale(0);
  -webkit-box-flex: 1;
  -ms-flex: 1 1 250px;
  flex: 1 1 250px;
  max-width: 350px;
  border-radius: 8px;
  overflow: hidden;
  padding: 0 0 20px 0;
  border-color: #eba14a;
  background-color: #171519;
}

.project-item:nth-of-type(even) {
  -webkit-transition: -webkit-transform 0.3s cubic-bezier(0.79, 0.76, 0.21, 1.39);
  transition: -webkit-transform 0.3s cubic-bezier(0.79, 0.76, 0.21, 1.39);
  -o-transition: transform 0.3s cubic-bezier(0.79, 0.76, 0.21, 1.39);
  transition: transform 0.3s cubic-bezier(0.79, 0.76, 0.21, 1.39);
  transition: transform 0.3s cubic-bezier(0.79, 0.76, 0.21, 1.39), -webkit-transform 0.3s cubic-bezier(0.79, 0.76, 0.21, 1.39);
  -webkit-transition: background-color 0.2s;
  -o-transition: background-color 0.2s;
  transition: background-color 0.2s;
}

.project-item:nth-of-type(odd) {
  -webkit-transition: -webkit-transform 0.4s cubic-bezier(0.79, 0.76, 0.21, 1.39);
  transition: -webkit-transform 0.4s cubic-bezier(0.79, 0.76, 0.21, 1.39);
  -o-transition: transform 0.4s cubic-bezier(0.79, 0.76, 0.21, 1.39);
  transition: transform 0.4s cubic-bezier(0.79, 0.76, 0.21, 1.39);
  transition: transform 0.4s cubic-bezier(0.79, 0.76, 0.21, 1.39), -webkit-transform 0.4s cubic-bezier(0.79, 0.76, 0.21, 1.39);
  -webkit-transition: background-color 0.2s, color 0.2s;
  -o-transition: background-color 0.2s, color 0.2s;
  transition: background-color 0.2s, color 0.2s;
}

.project-item:hover {
  background-color: #e2e5e9;
}

.project-item:hover h3 {
  color: #171519;
}

.project-item:hover .project-image-container .hover-preview-image {
  opacity: 1;
}

.project-item h3, .project-item p {
  padding: 10px 10px 0px;
}

.project-item .project-image-container {
  position: relative;
  height: 200px;
}

.project-item .project-image-container .hover-preview-image {
  position: absolute;
  display: block;
  top: 0;
  opacity: 0;
  -webkit-transition: opacity 0.3s;
  -o-transition: opacity 0.3s;
  transition: opacity 0.3s;
  -webkit-transition-delay: 0.1s;
  -o-transition-delay: 0.1s;
  transition-delay: 0.1s;
}

.project-item .project-image-container.top-image {
  position: relative;
}

.project-item img {
  width: 100%;
  height: 100%;
}

.project-item.item-active {
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
}

.project_description, .project_date {
  color: #6b7b7a;
}

/* audio */
#game-audio-wrapper {
  width: 100%;
  background: #4f4559;
  color: #e2e5e9;
}

/* sticky footer attached to page bottom*/
#footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
  -ms-flex: 0 1 50px;
  flex: 0 1 50px;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 100%;
  background: #171519;
}

#footer p {
  max-width: 800px;
  margin: 0 auto;
  text-align: center;
}

@media (max-width: 640px) {
  #footer p {
    font-size: 0em;
  }
}

.footer-icon-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  background: #eba14a;
  min-width: 240px;
  width: 50%;
  margin: 0 auto;
}

.social_media_icon {
  margin: 0 10px 0 10px;
  fill: #484729;
}

.social_media_icon:hover {
  fill: #e2e5e9;
}

.section-divider {
  width: 100%;
  background-image: url(../images/dividerTest.png);
  z-index: 1000;
  height: 32px;
  background-repeat: repeat-x;
}

/* Double Diagonal line */
/* Double Diagonal line */
/* Common style for pseudo-elements */
